<html>
  <head>
    <title>Paciente</title>
  </head>

  <body>
    <br>
    <p class="Titulo">Registrar paciente</p>
    
    <div class="contenedor">
      <form action="#">
        
        <div class="user-details">
          
          <div class="input-box">
            <span class="details">Nombre: </span>
            <input type="text" placeholder="Ingresa tu nombre" required>
          </div>
          <div class="input-box">
            <span class="details">Apellido: </span>
            <input type="text" placeholder="Ingresa tu apellido" required>
          </div>
          <div class="input-box">
            <span class="details">Fecha de Nacimiento: </span>
            <input type="date" placeholder="" required>
          </div>
          
        </div>
        <br>
        <br>
          <div class="centrar">
          <a class="boton" href="#lista">Guardar</a>
          </div>
      </form>
    </div>


    <br><br><br><br><br><br><br><br>
    <p class="Titulo2">Pacientes</p>

    <a name="lista" id="lista">
      <div class="contenedor2">
        <form action="#">
          
          <div class="user-details2">
            
            <div class="input-box2">
              <span class="details2">Nombre: </span>
              <input type="text" placeholder="Ingresa tu nombre" required>
            </div>
            <div class="input-box2">
              <span class="details2">Apellido: </span>
              <input type="text" placeholder="Ingresa tu apellido" required>
            </div>
            <div class="input-box2">
              <span class="details2">Fecha de Nacimiento: </span>
              <input type="date" placeholder="" required>
            </div>
            
          </div>


          <div class="user-details3">
            
            <div class="input-box3">
              <input type="text" placeholder="" required>
            </div>
            <div class="botones">
             <a class="editar" href=""></a>
             <a class="eliminar" href=""></a>
            </div>
            <div class="input-box3">
              <input type="text" placeholder="" required>
            </div>
            <div class="botones">
              <a class="editar" href=""></a>
              <a class="eliminar" href=""></a>
             </div>
             <div class="input-box3">
              <input type="text" placeholder="" required>
            </div>
            <div class="botones">
             <a class="editar" href=""></a>
             <a class="eliminar" href=""></a>
            </div>
                       
          </div>
          
        </form>
      </div>

    </a> 
    <br><br><br><br>
    
  </body>
</html>